body {
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: top;    
}

.navigation-item {
    color: orange;
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    margin-left: 4%;
    white-space: nowrap;
}

.navigation-item:hover {
    font-weight: 700;
  color: orange;
}

.information-item-main {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.information-item-submain {
    color: lightgray;
    text-decoration: none;
    font-size: 28px;    
}

.information-item {
    color: gray;
    text-decoration: none;
    font-size: 28px;
}

.book-type {
    color: black;
    text-decoration: none;
}
.book-title {
    color: black;
    text-decoration: none;
}

.book-desc {
    color: gray;
    text-decoration: none;
}
.navbar-toggler{
    background-color: #ab0000;
}

.book-type-blue
{
	color: blue;
	text-decoration: none;
}

.book-image
{
	max-width: 100%;
}

.text-justify
{
	text-align: justify;
}

#banner {
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner img {
    border-radius: 5px;
}

#banner img.show {
    height: 250px;
    width: 95%;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}

#banner img.hide {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}