extends ../template/main.pug
block content
	div(class="container" style="margin-top: 30px;")
		div(class='books')
			div#out(class="row")
				h1(style="font-size: 24px; text-align: center;") Каталог
		h2(class="film-type" style="margin-top: 50px; text-align: center;") Добавление книги на сайт
		button#modalokno(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: grey; border-color: grey; align-items: center;") Добавить книгу
		div#exampleModal(class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						h5#exampleModalLabel(class="modal-title") Добавление книги на сайт
						button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" onchange="donwload(this)")
					div(class="modal-body")
						form(class="row g-3 needs-validation" id="form-b" novalidate style="color: gray;")
							div#div1
								label#namelems(for="imageelem" class="form-label") Введите путь до вашей картинки:
								div(class="input-group mb-3")
									div(class="custom-file")
										input#buttonfilmadd( type="file" onchange="donwload(this)")
										p#urltoimage(style="visibility: hidden;")
										div(class="valid-feedback") Корректный ввод
										div(class="invalid-feedback") Пожалуйста, введите корректные данные	
							div#div2
								label#namelems(for="namelem" class="form-label") Введите название книги:
								input#namelem(type="text" class="form-control" name="quantity" value="" placeholder="Название книги" required)
								div(class="valid-feedback") Корректный ввод
								div(class="invalid-feedback") Пожалуйста, введите корректные данные
							div#div3
								label#ageelem(for="pricelem" class="form-label") Введите цену книги:
								input#pricelem(type="text" class="form-control" name="quantity" value="" placeholder="Цена книги" required)
								div(class="valid-feedback") Корректный ввод
								div(class="invalid-feedback") Пожалуйста, введите корректные данные       
							div#div4 
								label#sss(for="authorlem" class="form-label") Введите имя автора книги:
								input#authorlem(type="text" class="form-control" name="quantity" value="" placeholder="Имя автора" required) 
								div(class="valid-feedback") Корректный ввод
								div(class="invalid-feedback") Пожалуйста, введите корректные данные
								div#str
							div#div5 
								label#sss(for="descriptionlem" class="form-label") Введите описание книги:
								input#descriptionlem(type="text" class="form-control" name="quantity" value="" placeholder="Описание книги" required) 
								div(class="valid-feedback") Корректный ввод
								div(class="invalid-feedback") Пожалуйста, введите корректные данные
								div#str
							div(class="modal-footer")
								button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Закрыть
								button#butt(type="button" class="btn btn-primary"  data-bs-dismiss="modal" style="background-color: grey; border-color: grey;") Добавить
								button#edititem(type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color: grey; border-color: grey;") Редактировать

		div#exampleModal1(class="modal fade" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						h5#exampleModal1Label(class="modal-title")
						button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" onchange="donwload(this)")
					div(class="modal-body")
						div#infodesc(class='desc-info')
		
		table#tbl-items(class="table" style="margin-top: 35px; color: lightgray;")
			thead(style="color: gray;")
				tr
					th(scope="col") Название
					th(scope="col") Количество
					th(scope="col")
			tbody#tbodyout
		form#frm-items(class="row g-3")
			div(class="col-md-3")
				label(for="item" class="form-label")
					p(class="film-title") Книга
				select#itemtable(class="form-select" required)
					option(selected disabled value="") Укажите книгу...	
			div(class="col-md-2")
				label(for="hall" class="form-label")
					p(class="film-title") Количество
				input#halltable(type="number" class="form-control" value="1" min="1" max="6" required)
			div(class="col-12" )
				button#btnadditem(class="btn btn-primary" style="background-color: grey; border-color: grey;") Добавить
block body-scripts
	script(src="../Style/js2.js")
	script(src="../Style/items.js")