extends ../template/main.pug
block content
    div(class="container")
        div(class="subscribe")
            div(class="row")
                div(class="col-md-8" style="margin-top: 50px;")
                    div#banner
                        img(src="../Style/Image/Главная/Превью.png" class="hide")
                        img(src="../Style/Image/Главная/Превью.jpg" class="hide")
                div(class="col-lg-4")
                    div(class="row text-center" style="width: 390px; margin-top: 40px;")
                        img(class="fispecialstocklm-image text-center" src="../Style/Image/Главная/Превью 1.jpg" style="margin-top:10px ;" )
                    div(class="row text-center" style="width: 390px; margin-top: 15px;")
                        img(class="fispecialstocklm-image text-center" src="../Style/Image/Главная/Превью 2.jpg"  )
    div(class="container" style="margin-top: 30px;")
        div(class='books')
            div(class="row")
                h1(style="font-size: 24px;") Новинки
                div(class="col-md-2 mx-auto" )
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 1.png")
                        div(class='book-type text-center') 949 р.
                        div(class='book-title text-center') KGBT+
                        div(class="book-desc text-center") Виктор Пелевин    
                div(class="col-md-2 mx-auto")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 2.png")
                        div(class='book-type text-center') 1 250р.
                        div(class='book-title text-center') Благословение небожителей. Том 2
                        div(class="book-desc text-center") Тунсю Мосян
                div(class="col-md-2")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 3.png")
                        div(class='book-type text-center') 1 016 р.
                        div(class='book-title text-center') Семь сестер. Сестра солнца
                        div(class="book-desc text-center") Люсинда Райли
                div(class="col-md-2")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 4.png")
                        div(class='book-type text-center') 1 325
                        div(class='book-title text-center') Бессмертный
                        div(class="book-desc text-center") Кориандр 
                div(class="col-md-2")
                    div(class='container')
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 5.png")
                        div(class='book-type text-center') 77 р.
                        div(class='book-title text-center') Мост. Реальная история женщины, которая запуталась
                        div(class="book-desc text-center") Нэнси Роммельман
                div(class="col-md-2")
                    div(class='container')
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Главная/Новинка 6.png")
                        div(class='book-type text-center') 1 250р.
                        div(class='book-title text-center') Благословение небожителей. Том 3
                        div(class="book-desc text-center") Тунсю Мосян
    div(class="container" style="margin-top: 30px;")
        div(class='books')
            div(class="row")
                h1(style="font-size: 24px;") Рейтинг
                div(class="col-md-3 mx-aut" )
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-flex" src="../Style/Image/Главная/Года.png")
                div(class="col-md-3 mx-aut")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-flex" src="../Style/Image/Главная/Недели.png")
                div(class="col-md-3")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-flex" src="../Style/Image/Главная/Месяца.png")
                div(class="col-md-3")
                    div(class='container') 
                        img(class="book-image rounded mx-auto d-flex" src="../Style/Image/Главная/Предзаказы.png")
block body-scripts
    script(src="../Style/banner.js")