extends ../template/main.pug
block content
    div(class="container" style="margin-top: 30px;") 
        div(class='books') 
            div(class="row") 
                h1(style="font-size: 24px; text-align: center;") Книжные обзоры и рецензии 
                div(class="col-md-3 mx-aut" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review1.png") 
                        div(class='book-type-blue text-center') Быстро - значит хорошо!
                        div(class='book-title text-center') Предприниматель Джефф Уокер расскажет об успешном запуске бизнеса.
                        div(class='book-desc text-center') 15 октября
                div(class="col-md-3 mx-aut" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review2.png") 
                        div(class='book-type-blue text-center') «Я не лошадь» Геннадия Аверьянова.<br)  Книга для тех, кто «не вывозит»
                        div(class='book-title text-center') Предприниматель Джефф Уокер расскажет об успешном запуске бизнеса.
                        div(class='book-desc text-center') 14 октября     
            div(class="col-md-3 mx-aut") 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review3.png") 
                        div(class='book-type-blue text-center') Нижние этажи цивилизации
                        div(class='book-title text-center') В издательстве «Олимп-Бизнес» вышла книга журналиста Уилл Ханта.
                        div(class='book-desc text-center') 11 октября 
            div(class="col-md-3 mx-aut") 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review4.png") 
                        div(class='book-type-blue text-center') Быстро - значит хорошо!
                        div(class='book-title text-center') Вспоминаем книжную серию перед выходом фильма
                        div(class='book-desc text-center') 9 октября
    div(class="container" style="margin-top: 30px;") 
        div(class='books') 
            div(class="row") 
                div(class="col-md-3 mx-aut" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review5.png") 
                        div(class='book-type-blue text-center') Новая книга Майкла Роуча о законах Совершенной Мудрости
                        div(class='book-title text-center') Рассказываем о книге мотивационного спикера, духовного наставник и учителя тибетского буддизма Майкла Роуча.
                        div(class='book-desc text-center') 9 октября  
                div(class="col-md-3 mx-aut" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review6.png") 
                        div(class='book-type-blue text-center') Истории из школьных коридоров и учительской, о которых не рассказывают учителя
                        div(class='book-title text-center') Автор книги «Дневник учителя» Райан Уилсон 10 лет проработал в разных школах в неблагополучных районах Англии.
                        div(class='book-desc text-center') 7 октября    
                div(class="col-md-3" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review7.png") 
                        div(class='book-type-blue text-center') Пятьдесят слов дождя
                        div(class='book-title text-center') О книга рассказывает Анаит Григорян, писательница и переводчица.
                        div(class='book-desc text-center') 4 октября
                div(class="col-md-3" ) 
                    div(class='container')  
                        img(class="book-image rounded mx-auto d-block" src="../Style/Image/Обзор/Review8.png") 
                        div(class='book-type-blue text-center') Школа кондитерской магии
                        div(class='book-title text-center') Рассказываем о волшебных десертах из мира Гарри Поттера.
                        div(class="book-desc text-center") 25 сентября